<tfoot>
<tr>
  <td colspan="2" class="foot">
    <%= t "staff_order.original_price" %>
  </td>
  <td colspan="1" class="head">
    <%= number_to_currency order.original_price %>
  </td>
  <td colspan="3" class="foot">
    <%= t "staff_order.total" %>
  </td>
  <td class="foot uk-text-left foot" colspan="3">
    <%= number_to_currency order.price_final %>
  </td>
</tr>
<tr>
  <td colspan="3" class="foot"></td>
  <td colspan="2" class="foot">
  </td>
  <td colspan="1" class="foot"></td>
  <td class="foot" colspan="3" id="order-discount">
  </td>
</tr>
<tr>
  <td colspan="3" class="foot"></td>
  <td colspan="2" class="foot"></td>
  <td colspan="1" class="foot"></td>
  <td class="foot" colspan="3" id="membership-discount" >
  </td>
</tr>
<tr>
</tr>
</tfoot>
